*{
    list-style-type: none;
}
.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.card{
    width: 500px;
}
.image-card{
    width: 500px;
    height: 250px;
}



.nav-item a{
    color:black;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item a:hover{
    color:white;
    background-image: linear-gradient(#d17f45, #a468be);
}

.produit-index{
    display: flex;
    text-align: center;
}
.produit-articles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;


}
.div-totale{
    text-align: center;
}
.detail-panier-articles{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
#panier{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.panier-items{
    background-color:white;
    height: 450px;
}
.liste-panier{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.container-panier
{
    width: 50%;
    height: 600px;
    border-radius: 2%;
}
.message-panier{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
.container-sous-total{
    float: right;
}
.sous-total-message{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
.container-price-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
.image-du-panier{
    width: 30px;
    height: 25px;
}
.quantity-input{
    width: 45px;
}


.produit-buttons{
 padding-left: 15px;
}

#confirmationMsg{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 100, 0.3);
  height: 50px;
  position: fixed;
  bottom: 0;

}
.textDeConfirmation{
  font-size: 18px;
  animation-duration: 1s;
  animation-name: shake;

}
@keyframes shake {
  25%{
    font-size: 10px;
    transform:rotate(1turn);
  }
  50%{
    font-size: 12px;
    transform:rotate(-1turn);
  }
  100%{
    font-size: 18px;
    transform:rotate(1turn);
  }
}
.none{
  display: none;
}


.btn-submit{
    width: 100%;
}
#afficherToutsProduits{
    width: 100%;
}

.noborder{
    border-top: none;
}
#quantity-container{
    width: 25px;
}