*{
    list-style-type: none;
}
main,body{
    background-image: linear-gradient(to left, #822222, #631b22, #43161d, #251014, #000000);
}
.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.card{
    width: 500px;
}
.image-card{
    width: 500px;
    height: 250px;
}



.nav-item a{
    color:black;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item a:hover{
    color:white;
    background-image: linear-gradient(#d17f45, #a468be);
}

.produit-index{
    display: flex;
    text-align: center;
}
.produit-articles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.div-totale{
    text-align: center;
}
.detail-panier-articles{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
#panier{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.panier-items{
    background-color:white;
}
.liste-panier{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.container-panier
{
    width: 50%;
    height: 600px;
    border-radius: 2%;
}
.message-panier{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
.container-sous-total{
    float: right;
}
.sous-total-message{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
.container-price-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
.image-du-panier{
    width: 30px;
    height: 25px;
}
.quantity-input{
    width: 45px;
}


.produit-buttons{
 padding-left: 15px;
}

#confirmationMsg{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 100, 0.3);
  height: 50px;
  position: fixed;
  bottom: 0;

}
.textDeConfirmation{
  font-size: 18px;
  animation-duration: 1s;
  animation-name: shake;

}
#containerAccount{
    width: 100%;
    text-align: center;
}
#panierVide{
    text-align: center;
}
@keyframes shake {
  25%{
    font-size: 10px;
    transform:scale(10px);
  }
  50%{
    font-size: 12px;
    transform:scale(50px);
  }
  100%{
    font-size: 18px;
    transform:scale(10px);
  }
}
.none{
  display: none;
}


.btn-submit{
    width: 100%;
}
#afficherToutsProduits{
    width: 100%;
}

.noborder{
    border-top: none;
}
#quantity-container{
    width: 23px;
}
.form-control:valid{
    border: 1px solid rgb(125, 236, 125);
    color: green;
}
.form-control:invalid{
    
    border: 1px solid red;
}
.disabled:disabled{
    background-color: #ddd;
}
.date-and-month{
    width: 100px;
}
#creationAccountBtn{
    width: 100%;
}

.prixTotalContainer{
    width: 100%;
}
.titlePanier{
    color: white;
}
@media  (max-width:991px){ /* dimension tablette*/
    #products a{
        font-size: 10px;
    }
    .tablet-responsive{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size:small;
        letter-spacing: 2px;
    }
    .responsive-tablet-container{
      width: auto;
    }
    #containerAccount{
        display: block;
       
        
    }
}

@media  (max-width:375px){ /* dimension mobile M*/
    .produit-buttons a{
        font-size: 13px;
    }
}

@media  (max-width:375px){ /* dimension mobile S*/
    .produit-buttons a{
        font-size: 10px;
    }
    .panier-items{
        font-size: 10px;
    }
    
    
}